<div class="col bg">
  <div class="row spacer"></div>
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Login</h4>
          <h6 class="card-subtitle mb-2 text-muted">Bem vindo ao ECard</h6>
          <div class="row">
            <div class="col-1"></div>
            <div class="col">
              <form [formGroup]="_form" fxLayout="column">
                <div class="form-group">
                  <label for="username">Usuário:</label>
                  <input class="form-control" id="username" formControlName="username" type="text" class="form-control" placeholder="" />
                  <app-input-errors [control]="usernameFormControl"></app-input-errors>
                </div>

                <div class="form-group">
                  <label for="password">Senha:</label>
                  <input class="form-control" id="password" formControlName="password" type="password" class="form-control" placeholder="">
                  <app-input-errors [control]="passwordFormControl"></app-input-errors>
                </div>
              </form>
            </div>
            <div class="col-1"></div>
          </div>
          <button type="button" class="btn btn-primary card-link" (click)="login($event)">
              Entrar
          </button>
          <div class="row spacer"></div>
        </div>
        <!-- card-block -->
      </div>
      <!-- card -->
    </div>
    <!-- col -->
    <div class="col"></div>
  </div>
  <!-- row -->
</div>