<!-- contacts -->
<div class="row">
        <ng-container
          *ngFor="let contactItem of contactList; let i = index; let last = last"
          class="col">
          
          <div class="col">
                  <app-person-contact-icon 
                      [contact]="contactItem"
                      (open)="onOpenContact($event)">
                  </app-person-contact-icon>
          </div>
          
          <div class="w-100" *ngIf="newLine(index,last)">
          </div>
          
        </ng-container>  
      </div>
      
      
      <!-- folders -->
      <div class="row">
        <ng-container
          *ngFor="let folderItem of folderList; let i = index; let last = last"
          class="col">
              <div class="col">
                  <app-person-folder-icon
                      [folder]="folderItem"
                      (open)="onOpenFolder($event)">
                  </app-person-folder-icon>
              </div>
              
              <div class="w-100" *ngIf="newLine(index,last)">
              </div>
          
        </ng-container>
      </div>