<!--  I18N fazer tradução para 
      app.person.section.row.title.label
      app.person.section.row.dimensions.label
      app.person.section.row.open-button.label
      app.person.section.row.delete-button.label
    -->

<div class="card text-center  card-inverse" [style.background-color]="backgroundColor">
	<div class="card-block">
		<h4 class="card-title">
			{{section.title}}
		</h4>
		<h6 class="card-subtitle mb-2 text-muted">
			{{section.rowN}} X {{section.columnN}}
		</h6>
		<!--<p class="card-text"></p>-->
		<a class="card-link" (click)="selectClick($event)">Open</a>
		<a class="card-link" (click)="deleteClick($event)">Delete</a>

	</div>
</div>