<div class="row" *ngIf="_form" [formGroup]="_form" >
  <div class="form-group">
    <!-- [minDate]="minDate" [maxDate]="maxDate" -->
    <input 
      placeholder="Datepicker" 
      type="text" 
      class="form-control" 
      bsDatepicker 
      #dp="bsDatepicker"
      formControlName="date"
      [bsConfig]="_datepickerConfig"/>
  </div>
  <div class="form-group"> 
    <input 
    class="btn btn-success"
    type="button"
    value="Date Picker"
    (click)="dp.show()"/>
  </div>
</div>