<form [formGroup]="_form" fxLayout="column">

    <div class="form-group">
      <label for="email">Email:</label>
      <input 
        formControlName="email" 
        type="email" 
        placeholder="">
    </div>
</form>

<button
  type="button"
  class="btn btn-primary"
  (click)="forgotPassword($event)">
    Enviar
</button>