<div class="card text-center card-inverse" [style.background-color]="backgroundColor">

	<div class="card-block">
		<h4 class="card-title">
			{{card.title}}

			<small>({{card.type}})</small>

			<button type="button" class="btn btn-primary" (click)="openEdit(template)">
				Edit
			</button>
		</h4>

		<h6 class="card-subtitle mb-2 text-muted">
			Code: {{card.code}}
		</h6>

		<!-- show -->
		<div class="card-text container">
			<div class="row">

				<div class="col">
					<app-color-demo [color]="card.color"></app-color-demo>
				</div>

				<div class="col">{{card.language}}</div>

				<div class="col">
					<app-person-card-tracking [card]="card"></app-person-card-tracking>
				</div>

			</div>
		</div>

	</div>
</div>

<app-person-section-location-by-card [card]="card">
</app-person-section-location-by-card>

<!-- edit -->
<ng-template #template>
	<div class="modal-header">
		<h4 class="modal-title pull-left">{{card.title}}</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalEditRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<app-person-card-edit class="card-text" (save)="save($event)" (cancel)="cancel($event)" [card]="card">
		</app-person-card-edit>
	</div>
</ng-template>