<ol class="breadcrumb">

  <li *ngIf="sectionLocationSelected" class="breadcrumb-item">
    <a (click)="onBackAll()">{{card.title}}</a>
  </li>
  <li *ngFor="let sectionLocationItem of sectionLocationList; let i = index; let last = last" class="breadcrumb-item" [class.active]="last">

    <a (click)="onBack(i, last)">
      {{getTitle(sectionLocationItem)}}
    </a>

  </li>

</ol>