<app-person-header-public *ngIf="!authenticated"></app-person-header-public>
<app-person-header-authenticated *ngIf="authenticated"></app-person-header-authenticated>

<router-outlet></router-outlet>

<app-person-footer></app-person-footer>