<!--  I18N fazer tradução para 
      app.person.dashboard.create-button.label
    -->
<button type="button" class="btn btn-primary" (click)="create($event)">
  New
</button>
<div class="container-fluid">
  <div class="row justify-content-md-center">
    <app-person-card-row class=" col-lg-4 col-md-6 col-sm-12 my-2" *ngFor="let cardItem of cardList; let i = index" [card]="cardItem"
      (select)="select($event)" (delete)="delete($event)">
    </app-person-card-row>
  </div>
</div>