<!--  I18N fazer tradução para 
      app.person.shared.header-authenticated.search-button.label
      app.person.shared.header-authenticated.search-input.default
    -->
<header>
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" href="#" routerLink="/person" routerLinkActive="active">
			Ecard
			<!--<img
      src="logo"
      class="ml-0"/>-->
		</a>
		<!--spacer -->
		<form inline class="mr-0">
			<input [(ngModel)]="search" type="text" name="search" />

			<button class="btn btn-link" routerLink="['/person/search', search]" routerLinkActive="active">
				<!-- icon -->
				<i class="fa fa-search" aria-hidden="true"></i>
			</button>

			<app-person-account-dropdown-menu></app-person-account-dropdown-menu>
		</form>
	</nav>
</header>