<app-person-card-form [(card)]="card">
</app-person-card-form>
<!--  I18N fazer tradução para 
      app.person.card.edit.save-button.label
      app.person.card.edit.cancel-button.label
    -->
<button type="button" class="btn btn-primary" (click)="saveCard()">
	Save
</button>
<button type="button" class="btn btn-primary" (click)="cancelCard()">
	Canel
</button>