<!--  I18N fazer tradução para 
    app.person.account-dropdown-menu.logout-button.label
    app.person.account-dropdown-menu.account-button.label
    app.person.account-dropdown-menu.profile-button.label
    app.person.account-dropdown-menu.privacity-button.label
    -->

<div class="btn-group" dropdown>
  <!-- icon -->
  <button dropdownToggle type="button" class="btn btn-link dropdown-toggle">
    <i class="fa fa-user-circle" aria-hidden="true"></i>
    <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem">
      <a class="dropdown-item" href="#" routerLink="/person/logout" routerLinkActive="active">
        Logout
      </a>
    </li>

    <li class="divider dropdown-divider"></li>

    <li role="menuitem">
      <a class="dropdown-item" href="#" routerLink="/person/account" routerLinkActive="active">
        Account
      </a>
    </li>
    <li role="menuitem">
      <a class="dropdown-item" href="#" routerLink="/person/profile" routerLinkActive="active">
        Profile
      </a>
    </li>
    <li role="menuitem">
      <a class="dropdown-item" href="#" routerLink="/person/privacity" routerLinkActive="active">
        Privacity
      </a>
    </li>
  </ul>
</div>