<header>

	<!--  I18N fazer tradução para 
      app.person.shared.header-public.login-button.label
    -->

	<nav class="navbar navbar-dark bg-dark">

		<a class="navbar-brand" href="#" routerLink="/person" routerLinkActive="active">
			Ecard
			<!--<img
      src="logo"
      class="ml-0"/>-->
		</a>
		<!-- spacer -->
		<button routerLink="/person/account/login" routerLinkActive="active" class="mr-0 btn btn-link">
			Entrar
			<i class="fa fa-sign-in" aria-hidden="true"></i>
		</button>
	</nav>
</header>