<app-person-section-location-form [(section)]="section">
  </app-person-section-location-form>
  <!--  I18N fazer tradução para 
        app.person.section.edit.save-button.label
        app.person.section.edit.cancel-button.label
      -->
  <button 
    type="button" 
    class="btn btn-primary"
    (click)="saveSection()">
      Save
  </button>
  <button 
    type="button" 
    class="btn btn-primary"
    (click)="cancelSection()">
      Canel
  </button>