<ol class="breadcrumb">
  <li *ngFor="let folderItem of folderList; let i = index; let last = last" class="breadcrumb-item" [class.active]="last">

    <a (click)="onBack(i, last)">
      {{getTitle(folderItem)}}
    </a>

  </li>

</ol>