<div class="modal-header">
    <h4 class="modal-title pull-left">Nome da Pasta Principal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <input [(ngModel)]="title" type="text" placeholder="Minha Pasta">
    <button type="button" class="btn btn-primary" (click)="saveRoot(title)">
        Save
    </button>
</div>