<section class=" bg jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">
            Ecard
        </h1>
        <p class="lead">
            Crie um cartão, um catalogo, um menu ou uma etiqueta de maneira rápida, fácil, gratuita e totalmente online.
        </p>
        <hr class="my-4">
        <button class="btn btn-success" type="button" routerLink="/person/account/register" routerLinkActive="active">
            Começar agora
        </button>
    </div>
</section>

<section class="items jumbotron">
    <div class="row">
        <div class="col-md-4 text-center">
            <span class="fa-stack fa-3x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-address-card fa-stack-1x fa-inverse"></i>
            </span>
            <h4>
                Cartões
            </h4>
            <p>
                Crie um cartão totalmente gratuito e online.
            </p>
        </div>

        <div class="col-md-4 text-center">
            <span class="fa-stack fa-3x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-list fa-stack-1x fa-inverse"></i>
            </span>
            <h4>
                Catalogos / Menu
            </h4>
            <p>
                Crie um menu ou catalogo totalmente gratuito e online.
            </p>
        </div>

        <div class="col-md-4 text-center">
            <span class="fa-stack fa-3x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-tag fa-stack-1x fa-inverse"></i>
            </span>
            <h4>
                Etiquetas
            </h4>
            <p>
                Crie uma etiqueta totalmente gratuita e online.
            </p>
        </div>

    </div>
</section>