/*.bg {
  background: url('/assets/home/img/hero-bg.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  min-height: 350px;
  top:0;
  left:0;
  z-index: -1;
}
*/
.bg {
  text-align: center;
  color: #fff;
  min-height: 350px;
  text-shadow: #444 0 1px 1px;
  background: url('/assets/home/img/hero-bg.jpg') no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.items{
  padding-top: 1em;
}

.jumbotron{
  margin-top: 0px;
  margin-bottom: 0px;
}