<!--  I18N fazer tradução para 
      app.person.section.info.title.label
      app.person.section.info.dimensions.label
    -->
<h3>{{section.title}}</h3>

<app-color-demo [color]="section.color"></app-color-demo>

<hr/>

<p>Dimensões: {{section.rowN}} X {{section.columnN}}</p>