/* You can add global styles to this file, and also import other style files */
/*@import '~bootstrap/dist/css/bootstrap.min.css';*/
@import '../node_modules/bootstrap/scss/bootstrap';
@import '~font-awesome/css/font-awesome.min.css';
@import '~ngx-bootstrap/datepicker/bs-datepicker.css';

html, body {
    height: 100%;
  }
 /*
  #page {
    min-height: 100%;
  }
  footer {
    position: relative;
    margin-top: -150px;
    height: 150px;
    clear:both;
    padding-top:20px;
  }
  */