<!--  I18N fazer tradução para 
      app.person.card.row.title.label
      app.person.card.row.type.label
      app.person.card.row.color.label
      app.person.card.row.language.label
      app.person.card.row.code.label
      app.person.card.row.tracking.true.label
      app.person.card.row.tracking.false.label
      app.person.card.row.open-button.label
      app.person.card.row.delete-button.label
      
    -->

<div class="card  card-inverse">

	<div class="card-header" [style.background-color]="backgroundColor">
		<small>{{card.code}}</small>
	</div>

	<div class="card-block text-center">
		<h5 class="card-title">
			{{card.title}}
		</h5>
		<h6 class="card-subtitle mb-2 text-muted">
			{{card.type}}
		</h6>
		<a class="btn card-link" (click)="selectClick($event)">Open</a>
		<a class="btn card-link" (click)="deleteClick($event)">Delete</a>
		<a class="btn card-link" (click)="openQRCode(template)">
			<i class="fa fa-qrcode" aria-hidden="true"></i>
		</a>

	</div>
</div>

<ng-template #template class="text-center">
	<div class="modal-header">
		<h4 class="modal-title pull-left">{{card.title}}</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body text-center">
		<ngx-qrcode [qrc-element-type]="elementType" [qrc-value]="url"></ngx-qrcode>
	</div>
</ng-template>