<div class="row">
  <div class="col"></div>
  <div class="col">
    <div class="card">
      <div class="card-block">
        <form [formGroup]="_form" fxLayout="column">
          <div class="form-group">
            <label for="password">Senha:</label>
            <input formControlName="password" type="password" class="form-control" placeholder="Senha" />
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirmar Senha:</label>
            <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Confirmar Senha" />
          </div>
        </form>
        <button (click)="resetPassword($event)">
            Enviar
        </button>

      </div>
      <!-- card-block -->
    </div>
    <!-- card -->
  </div>
  <!-- col -->
</div>
<!-- row -->