<div *ngIf="sectionLocationSelected" class="card text-center card-inverse" [style.background-color]="backgroundColor">

	<div class="card-block">
		<h4 class="card-title">
			{{section.title}}
			<small>
				{{section.rowN}} X {{section.columnN}}
			</small>
			<button type="button" class="btn btn-primary" (click)="openEdit(template)">
				Edit
			</button>
		</h4>
		<div class="card-text container">
			<!--<app-color-demo 
        [color]="section.color">
      </app-color-demo>-->
		</div>
	</div>
</div>

<app-person-section-location-breadcrumb [sectionLocation]="sectionLocation" [card]="card" (back)="back($event)" (backAll)="backAll($event)">
</app-person-section-location-breadcrumb>


<h4>
	Sessões
	<button type="button" class="btn btn-primary" (click)="createRow($event)">
		New
	</button>
</h4>
<app-person-section-location-row *ngFor="let sectionLocationItem of sectionLocationList; let i = index" [sectionLocation]="sectionLocationItem"
 (select)="selectRow($event)" (delete)="deleteRow($event)">
</app-person-section-location-row>