<div class="col bg">
  <div class="row spacer"></div>
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Cadastro</h4>
          <h6 class="card-subtitle mb-2 text-muted">Bem vindo ao ECard</h6>
          <div class="row">
            <div class="col-1"></div>
            <div class="col">
              <form *ngIf="_form" [formGroup]="_form" class="col">

                <div class="form-group">
                  <label for="name">Nome</label>
                  <input formControlName="name" type="text" class="form-control" placeholder="" />
                  <app-input-errors [control]="nameFormControl"></app-input-errors>
                </div>

                <div class="form-group">
                  <label for="email">Email</label>
                  <input formControlName="email" type="email" class="form-control" placeholder="" />
                  <app-input-errors [control]="emailFormControl"></app-input-errors>
                </div>

                <div class="form-group">
                  <label for="username">Username</label>
                  <input formControlName="username" type="text" class="form-control" placeholder="" />
                  <app-input-errors [control]="usernameFormControl"></app-input-errors>
                </div>

                <div class="form-group">
                  <label for="password">Password</label>
                  <input formControlName="password" type="password" class="form-control" placeholder="" />
                  <app-input-errors [control]="passwordFormControl"></app-input-errors>
                </div>

                <div class="form-group">
                  <label for="confirmPassword">Confirm Password</label>
                  <input formControlName="confirmPassword" type="confirmPassword" class="form-control" placeholder="" />
                  <app-input-errors [control]="confirmPasswordFormControl"></app-input-errors>
                </div>

                <app-date-input
                 [date]="registerDTO.birth" 
                 (dateChange)="changeDate($event)"
                 (control)="setDateFormControl($event)">
                </app-date-input>

              </form>
            </div>
            <div class="col-1"></div>
          </div>
          <button type="button" class="btn btn-primary card-link" (click)="register($event)">
                Enviar
            </button>
          <div class="row spacer"></div>
        </div>
        <!-- card-block -->
      </div>
      <!-- card -->
    </div>
    <!-- col -->
    <div class="col"></div>
  </div>
  <!-- row -->
</div>