<!--  I18N fazer tradução para 
      app.person.card.info.title.label
      app.person.card.info.type.label
      app.person.card.info.color.label
      app.person.card.info.language.label
      app.person.card.info.code.label
      app.person.card.info.tracking.true.label
      app.person.card.info.tracking.false.label
      
    -->
<h3>{{card.title}}
	<small>{{card.code}}</small>
</h3>

<p>{{card.type}}</p>

<app-color-demo [color]="card.color"></app-color-demo>
<p> {{card.language}}</p>
<hr/>

<app-person-card-tracking [card]="card"></app-person-card-tracking>