<div class="row">
  <div class="col"></div>
  <div class="col">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Comfirma conta</h4>
        <h6 class="card-subtitle mb-2 text-muted">
          Para confirmar que este é seu e-mail, resta apenas clicar no botão abaixo
        </h6>
        <button type="button" class="btn btn-primary" (click)="confirmAccount($event)">
          Confirmar
        </button>
      </div>
      <!-- card-block -->
    </div>
    <!-- card -->
  </div>
  <!-- col -->
</div>
<!-- row -->