<form [formGroup]="_form">
  <table class="example-full-width" cellspacing="0">

    <!-- title -->
    <tr>
      <!--  I18N fazer tradução para 
          app.person.section.form.title-input.label
        -->
      <td>
        <input formControlName="title" type="text" placeholder="Title">
      </td>

    </tr>

    <!-- orientation -->
    <tr>
      <!--  I18N fazer tradução para 
        app.person.section.form.orientation-input.label
      -->
      <td>
        <!--
        orientation
        <select-option></select-option>
      -->
      </td>
    </tr>

    <!-- color -->
    <tr>
      <!--  I18N fazer tradução para
        app.person.section.form.color-input.label
      -->
      <td>
        <!--
        color
        <select-option></select-option>
      -->
      </td>
    </tr>

    <!-- dimensions -->
    <tr>
      <!--  I18N fazer tradução para
        app.person.section.form.dimensions-input.label
      -->
      <td>
        <input formControlName="columnN" type="number" placeholder="columns">
      </td>
      <td>
        <input formControlName="rowN" type="number" placeholder="rows">
      </td>
    </tr>
  </table>

</form>